body {
    font-family: "Roboto Thin";
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
}

h5 {
    margin-top: 0;
    color: grey;
    font-size: 19px;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    font-family: "Roboto";
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: grey;
    transition-duration: 20ms;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.logo img {
    padding-top: 7%;
    height: 15%;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nameheader {
    text-align: center;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7%;
}

.homepic1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.intro {
    padding: 5%;  
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.intro h1 {
    font-size: 100px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap ;
    z-index: 1;
}

.intro h3 {
    vertical-align: middle;
    text-align: justify;
    z-index: 1;
}

hr {
    width: 20%;
    height: 2px;
    margin-bottom: 5%;
    border: none;
    background-color: black;
    color: black;
}

.aboutMeLink {
    padding-top: 10%;
    margin-bottom: 5%;
    color: gray;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogs {
    text-align: center;
}

.blogs hr {
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
}

.blogs img {
    width: 95%;
}

.footer {
    position: fixed;
    height: 15%;
    width: 47px;
    border-radius: 10px;
    bottom: 0;
    background-color: white;
    text-align: right;
}

.footer img {
    height: 30%;
    margin-left: 10px;
    margin: 5%;
    display: block;
}

.bottom {
    text-align: right;
    margin-top: 30px;
    height: 30px;
    bottom: 0;
    left: 0;
}
