body {
    font-family: "Roboto Thin";
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
}

h5 {
    margin-top: 0;
    color: grey;
    font-size: 19px;
}

.welcome-screen {
    background-image: url('./background.jpg');
    display: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    padding-top: 0;
    border: 1px solid white;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.welcome-screen h2 {
    line-height: 80%;
    font-size: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
    width: 100%;
    font-family: "Roboto";
    background-color: white;
    z-index: 100;
}

.offset {
    margin-left: 10%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    color: grey;
    transition-duration: 20ms;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.intro { 
    display: block;
    width: 85%;
    height: 75vh;
    margin: auto;
    margin-top: 150px;
}

.intro img{
    width: 90%;
    border-radius: 50%;
}

.intro h3 {
    vertical-align: middle;
    text-align: justify;
    z-index: 1;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro hr {
    width: 30%;
    height: 1px;
    margin: auto;
    background-color: black;
}

.col-md-8 {
    padding-top: 3%;
}

.col-md-8 h3 {
    line-height: 150%;
}

.blogs {
    text-align: center;
    vertical-align: middle;
}

.blog-icon {
    width: 90%;
    z-index: -1;
}

.thumbnail {
    width: 90%;
    border-radius: 0;
    border: none;
    border-top: 1px solid gray;
    padding-top: 10px;
}

.caption {
    font-size: 18px;
    line-height: 90%;
}

.bottom img {
    width: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.bottom p{
    float: right;
    margin-right: 10px;
}
